* {
  padding: 0;
  margin: 0;
}

.tester-service-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vw;
  margin-bottom: 15px;
  .header {
    width: 90vw;
    text-align: left;
  }
  .tester-service-row-box {
    display: flex;
    flex-direction: row;
    width: 90vw;
    max-height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 10px;
    .tester-service-container {
      margin-top: 0;
      height: 100%;
      max-height: 100%;
      margin-right: 10px;
      .card {
        max-height: 100%;
        object-fit: cover;
      }
      .image {
        height: 20vw;
        overflow: hidden;
        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
        }
      }
      .content {
        max-height: 40%;
        overflow: hidden;
        .description {
          overflow: hidden;
          line-height: 1.3;
        }
      }
    }
  }
}
