@import 'theme.scss';

html,
body,
#root {
  height: 100%;
  .App {
    width: 100%;
  }
}

#root {
  display: flex;
}

* {
  @include text-inter;
}

body.ReactModal__Body--open {
  overflow: hidden;
}
