.notification-center {
  border: 2px solid black;
  background-color: white;
  margin: 10px 20px;
  padding: 10px;
  width: 20vw;
  height: 20vh;
  position: absolute;
  z-index: 10;
  top: 5vh;
  right: 0;
}
